.collection-item-wrapper {
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 22vw;
  position: relative;

  &:last-child {
    margin-right: 0px;
  }

  .image {
    height: 95%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    margin: 0 auto;
    display: none;
  }

  .collection-item-footer {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .name {
      width: 90%;
    }

    & .price {
      width: 10%;
    }
  }
}
